*{
    margin: 0;
    padding: 0;
}

body{

    color: #f1f1f1;
}


.calculatorBody{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px; 

}

table{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
    border: 2px solid;
    border-collapse: collapse;

}
td{
  
    text-align: center;
    color: #fff1;
    border: 2px solid #191919;
}

input[
    type="button"
]{
    width: 90px;
    height: 80px;
    color: #fff;
    background-color: rgb(121, 10, 43);
    border: none !important;  
    cursor: pointer;
    transition: 0.2 ease ease-in-out;
    outline: none !important;
    font-size: 20px;

}


input[
    type="button"
]:hover{


    background-color: #19d;
    outline: none;
}
input[
    type="text"
]{

    width: 340px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none !important;
    border: none !important;
    font-size: 35px;
}